<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="stylesheets/application.css" rel="stylesheet" />
    <link
  href="https://fonts.googleapis.com/css?family=Open+Sans"
  rel="stylesheet" /> <!-- links to the open sans font -->
    <title>setup</title>
  </head>

<body>

<header class="primary-header container group">
  <h1>setup</h1>
    <nav>
    <h4>
    <a class="btn btn-alt" href="home">Home</a>
    <a class="btn btn-alt" href="setups">Setups</a>
    </h4>
  </nav>
</header>


</body>
</html>